.app {
    display: flex;
    justify-content: center;
}

.todo-app {
    border: 1px solid black;
    border-radius: 5px;
}

.todo-item {
    position: relative;
    display: flex;
}

.todo-item-element-hidden {
    display: none;
}

.todo-item-text-container {
    width: calc(100% - 40px);
}

.todo-item-edit-input {
    width: 100%;
}

.todo-item-status {
    margin-right: 5px;
    margin-left: 5px;
}

.todo-item-status:hover {
    cursor: pointer;
}

.todo-item-delete {
    position: absolute;
    right: 0;

    cursor: pointer;

    outline: none;
    background: none;
    border: none;
}

.centered{
    margin: auto;
    max-width: 600px;
}

.full-width{
    width: 100% !important; 
    /*"Lets insert style atributes directly into tags, what can go wrong" - MaterialUI*/
}